:root{
    font-family: 'Cormorant Garamond', serif;
}
body{
    overflow-y: auto;
}

#body-Main{
    background-image:url(https://asuevents.asu.edu/sites/default/files/music.jpg);

}
#homepageHeader{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 52px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    padding: 30px;
}

.about_us_container{
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 30px;
}
#aboutUsHeader{
    font-family: 'Cormorant Garamond', serif;
}
#aboutUs{
    text-align: justify;
    font-size: 20px;
}
#meetTheFoundersHeader{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    padding: 30px;
}
.meetJeremy_container{}
#meetJeremyName{
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
}
#meetJeremy{
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 30px;
}
.mdl-layout-spacer{
    text-align: center;
    font-size: 25px;
}
.mdl-layout__header-row{
    background-color: rgba(128, 0, 128, 0.7);
}

.mdl-layout__drawer{
    font-family: 'Cormorant Garamond', serif;
}
.mdl-layout-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
}

.mdl-navigation__link{
    display: inline-block;
    color:inherit;
    font-family: 'Cormorant Garamond', serif;
    color: purple;
}

/*STYLESHEET SPECIFIC TO 'THEORY' PAGE*/

#body-theory{
    background-image: url(http://www.mtosmt.org/gifs/bartok_overlay.png);
}
 