:root{
    font-family: 'Cormorant Garamond', serif;
}
body{
    overflow-y: auto;
}

#body-Main{
    background-image:url(https://asuevents.asu.edu/sites/default/files/music.jpg);
    background-size: cover;
}
.pageHeader{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 52px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    padding: 30px;
}

.about_us_container{
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 30px;
}
#aboutUsHeader{
    font-family: 'Cormorant Garamond', serif;
}
#aboutUs{
    text-align: justify;
    font-size: 20px;
}
.meetTheFounders_container{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    border: none;
    border-radius: 16px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    padding-bottom: 40px;
}


#meetTheFoundersHeader{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 30px;
    line-height: 45px;
}
.profilePic{
    float: left;
    margin-right: 10px;
    width: 250px;
    height: 250px;
    padding-left: 10px;
    padding-right: 48px;
}

.meetJeremy_container{
    display: block;
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#jeremyProfilePic{}
#meetJeremy{
    color: whitesmoke;
    text-align: justify;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    word-wrap: break-word;
    margin-bottom: 5%;
    padding: 30px;
}

.meetJoshua_container{
    display: block;
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#joshuaProfilePic{}
#meetJoshua{
    color: whitesmoke;
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    word-wrap: break-word;
    padding: 30px;
}

ul{
    list-style-type: none;
}

.mdl-layout-spacer{
    text-align: center;
    font-size: 25px;
}
.mdl-layout__header-row{
    background-color: rgba(128, 0, 128, 0.7);
}
.mdl-layout__drawer{
    font-family: 'Cormorant Garamond', serif;
}
.mdl-layout-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
}

.mdl-navigation__link{
    display: inline-block;
    color: initial;
    font-family: 'Cormorant Garamond', serif;
}
@media(max-width: 650px){
    .about_us_container{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .meetTheFounders_container{
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .profilePic_container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*STYLESHEET SPECIFIC TO 'THEORY' PAGE*/

body {
    background-image:url(https://becomeabassist.com/wp-content/uploads/2013/05/sheet_music.jpg);
    background-size: cover;
}

.mdl-textfield__input{
    width:100%;
    height:100%; 
    -moz-box-sizing: border-box;    /* For Firefox */
    -webkit-box-sizing: border-box; /* For Safari */
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    /*width: 100vw;
    height: 50vh;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: whitesmoke;
    border: 8px solid rgba(128, 0, 128, 0.7);
    overflow-y: scroll;
    overflow-wrap: break-word;
    box-sizing: border-box; */
}

.textbox{grid-area: textbox;}
.username{grid-area: username;}
.purposeForWriting{grid-area: purposeForWriting;}
.submit{grid-area: submit;}
.attachFile{grid-area: attachFile;}

.grid_container{
    display: grid;
    grid-template-areas:
    'textbox textbox texbox'
    'textbox textbox texbox'
    'username username submit'
    'attachFile attachFile submit';
    grid-gap: 10px;
    background-color: rgb(255, 215, 0);
    padding: 10px;
    justify-content: center;
}
grid_container>div{}

.submitButton:hover{
    cursor: pointer;
}

#questionElement{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-color: purple;
    box-shadow: purple;
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
}
#fileElement{
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
}
label{
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
}


#usernameElement{
    border-radius: 8px;
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
}

.submitButton{
    border-radius: 4px;
    border-bottom-style: inset;
    border-color: purple;
    background-color: white;
    font-style: oblique;
    font-family:'Cormorant Garamond', serif; 
    font-weight: bold;
   
}

file{
    font-family:'Cormorant Garamond', serif; 
}
