:root{
    font-family: 'Cormorant Garamond', serif;
}
body{
    overflow-y: auto;
}

#body-Main{
    background-image:url(https://asuevents.asu.edu/sites/default/files/music.jpg);
    background-size: cover;
}
.pageHeader{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 52px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    padding: 30px;
}

.about_us_container{
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 30px;
}
#aboutUsHeader{
    font-family: 'Cormorant Garamond', serif;
}
#aboutUs{
    text-align: justify;
    font-size: 20px;
}
.meetTheFounders_container{
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    border: none;
    border-radius: 16px;
    background-color: rgba(128, 0, 128, 0.7);
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 40px;
}


#meetTheFoundersHeader{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 30px;
}
.profilePic{
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}

.meetJeremy_container{
    display: block;
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#jeremyProfilePic{}
#meetJeremy{
    color: whitesmoke;
    text-align: justify;
    margin-top: 6%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    word-wrap: break-word;
    margin-bottom: 5%;
    padding: 30px;
}

.meetJoshua_container{
    display: block;
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#joshuaProfilePic{}
#meetJoshua{
    color: whitesmoke;
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    word-wrap: break-word;
    padding: 30px;
}

ul{
    list-style-type: none;
}

.mdl-layout-spacer{
    text-align: center;
    font-size: 25px;
}
.mdl-layout__header-row{
    background-color: rgba(128, 0, 128, 0.7);
}
.mdl-layout__drawer{
    font-family: 'Cormorant Garamond', serif;
}
.mdl-layout-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
}

.mdl-navigation__link{
    display: inline-block;
    color: initial;
    font-family: 'Cormorant Garamond', serif;
}
@media(max-width: 650px){
    .about_us_container{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .meetTheFounders_container{
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .profilePic_container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*STYLESHEET SPECIFIC TO 'THEORY' PAGE*/

#body-Theory{
    background-image:url(https://becomeabassist.com/wp-content/uploads/2013/05/sheet_music.jpg);
    background-size: cover;
}

.mdl-textfield__input{
    align-content:center;
}